* {
    font-family: arial;
    color: gray;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

#left {
  /*float: left;
  width: 50%;*/
  padding: 5px;
}

#cy {
  height: 85%;
  border: 1px solid gray;
  border-radius: 3px;
}

#right {
  /*float: right;
  width: 50%;*/
}

#form, table {
  margin-left: 30px;
  margin-bottom: 30px;
}

h1 {
  color: gray;
  font-size: 20px;
  text-align: center;
}

h2 {
  color: gray;
  font-size: 17px;
  text-align: center;
}
input {
    height: 40px;
    width: 200px;
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    outline: none;
}


#text-result {
  clear: left;
  visibility: hidden;
  color: gray;
  margin-left: 30px;
  font-size: 20px;
}
.centered {
  margin: 0 auto;
  width: 400px;
  height: 350px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}
th {
    font-weight: normal;
    color: blue;
    padding-right: 20px;
    text-align: right;
}

td {
    width: 20px;
    text-align: right;
}

.tdhighlighted {
  background-color: #e6e600;
  border: 1px solid gray;
  text-align: center;
  font-weight: bolder;
}

.fade {
  color: black;
  /*opacity: 1;
 
  -webkit-transition: opacity 1s;
  transition: opacity 1s;*/
}

#question {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#whatis {
  width: 300px;
  position: absolute;
  right: 200px;
  bottom: 10px; 
  visibility: hidden;
}

#btnHelp {
  margin-left: 1em;
}

.form-control:focus{
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.col-centered{
    width: 100px; 
    margin: auto auto;
    font-weight: bold;
}